.modal-backdrop{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    z-index:1000;
}
.modal-content{
    background: white;
    width: 100%;
    max-width: 400px;
    height: 80vh;
    border-radius: 12px 12px 0px 0px;
    flex-direction: column;
    margin-top: auto;
}
.modal-header{
    padding: 12px 16px;
    border-bottom: 1px solid #dbdbdb;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    position: relative;
}
.modal-header button{
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    border:none;
    font-size: 28px;
    color: #000;
    cursor:'pointer';
    padding: 0;
    width: 40px;
    height: 40px;
    background: none;   
    display: flex;
    justify-content: center;
    align-items: center;
}
.comments-list{
    flex: 1;
    padding: 16px;
    /* padding-bottom: 8px; */
    overflow-y: auto;
}